<nav class="navbar navbar-default">
  <div class="">
    <div class="navbar-header">
      <button type="button"
              (click)="toggleState()"
              class="navbar-toggle collapsed">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink='/'>Recipe Book</a>
    </div>
  </div>

  <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink='/recipes'>Recipes</a></li>
      <li routerLinkActive="active"><a routerLink='/shopping-list'>Shopping List</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropDown>
        <a class="dropdown-toggle" role="button">
          Manage <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a>Save Data</a></li>
          <li><a>Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>